html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h2 {
    text-align: center;
    color: #373333;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    max-width: 500px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-top: 6px solid #4A90E2;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 40px;
}

legend {
    font-weight: 700;
    color: #333;
    font-size: 1.5rem;
    border-bottom: 2px solid #4A90E2;
    padding-bottom: 2px;
    margin-bottom: 7px;
    display: block;
}

label {
    font-size: 1.1rem;
    margin-top: 15px;
    display: block;
    color: #555; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1.1rem;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 10px #b0d4f1;
}

button {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    padding: 15px;
    background-color: #4A90E2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: #357ABD;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #4A90E2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#resumeOutput {
    display: none;
    max-width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid #4A90E2;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    color: #333;
    font-family: "Poppins", sans-serif;
}

#resumeOutput h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

#resumeOutput h3 {
    color: #4A90E2;
    font-size: 1.6rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#resumeOutput h3::before {
    content: "✦";
    color: #4A90E2;
    margin-right: 15px;
    font-size: 1.5rem;
}

#resumeOutput p {
    font-size: 1.2rem;
    margin: 15px 0;
    line-height: 1.6;
    color: #555;
}

#resumeOutput ul {
    padding-left: 25px;
}

#resumeOutput ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
    position: relative;
    padding-left: 25px;
}

#resumeOutput ul li::before {
    content: "●";
    color: #4A90E2;
    position: absolute;
    left: 0;
    font-size: 1.4rem;
    line-height: 1.6;
}

.editable {
    border: 2px solid #ddd;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.editable:hover {
    background-color: #f0f0f0;
}

button.edit {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 12px;
    background-color: #4A90E2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button.edit:hover {
    background-color: #357ABD;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    button {
        font-size: 1.1rem;
        padding: 14px;
    }

    #resumeOutput {
        padding: 25px;
    }

    #resumeOutput h2 {
        font-size: 1.8rem;
    }

    #resumeOutput h3 {
        font-size: 1.4rem;
    }

    #resumeOutput p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    form, #resumeOutput {
        padding: 20px;
        width: 90%;
        margin: 20px auto;
    }

    h1 {
        font-size: 1.8rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        padding: 12px;
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 12px;
    }

    #resumeOutput h2 {
        font-size: 1.5rem;
    }

    #resumeOutput h3 {
        font-size: 1.2rem;
    }

    #resumeOutput p {
        font-size: 1rem;
    }
}
